{% if page.categories %}
  <hr style="border: 1px solid #ddd; margin: 20px 0;">
  <h2>
    {% if page.categories.size>=2 %}
      "{{ page.categories[1] | strip }}"
    {% else %}
      "{{ page.categories[0] | strip }}"
    {% endif %}
    카테고리의 게시물
    </h2>
  {% assign related_posts = site.posts | where_exp: "post", "post.categories contains page.categories[0]" | reverse %}
  {% assign cnt = 0 %}
  {% for post in related_posts %}
    {% if page.categories == post.categories %}
      {% assign cnt = cnt | plus: 1 %}

      <div class="d-flex justify-content-between px-md-3">
        {% if post.url == page.url %} <b style="font-weight:900"> {% endif %}
        <a href="{{ post.url | relative_url }}">📄 {{ post.title }}</a>
        {% if post.url == page.url %} </b> {% endif %}
        <span class="dash flex-grow-1"></span>
        {% if post.url == page.url %} <b style="font-weight:900"> {% endif %}
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
        {% if post.url == page.url %} </b> {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  {% if cnt == 0 %}
    <h5>게시물이 더 이상 없습니다.</h5>
  {% endif %}
{% endif %}
