{% if page.categories %}
<h2>"{{ page.categories | join: ", " }}" 카테고리의 게시물</h2>
    {% assign related_posts = site.posts | where_exp: "post", "post.categories contains page.categories[0]" | reverse %}
    {% assign cnt = 0 %}
    {% for post in related_posts %}
      
      {% if page.categories == post.categories %}
      {% assign cnt = cnt | plus: 1 %}
      {% if cnt == 1 %}
      <div style="display: flex; gap: 80px; height:30px; margin-top: 0px;">
        <div style="flex: 4; font-size:16px; "><b>글 제목</b></div>
        <div style="flex: 1;"><b>작성일</b></div>
      </div>
      {% endif %}
      {% if post.url == page.url %}
      <b style="font-weight:900">
      {% endif %}
      <div style="display: flex; gap: 80px; height:30px; margin-top: 0px;">
        <div style="flex: 4;">
          <a href="{{ post.url | relative_url }}">📄 {{ post.title }}</a>
        </div>
        <div style="flex: 1;">
          {{ post.date | date: "%Y-%m-%d" }}
        </div>
      </div>
      {% if post.url == page.url %}
      </b>
      {% endif %}
      {% endif %}
    
    {% endfor %}
    {% if cnt == 0 %}
    <h5>게시물이 더 이상 없습니다.</h5>
    {% endif %}
  
{% endif %}